# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Test_Project.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Test_Project\.idea\.idea.Test_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
